

<div class="container-sm">
    <h1>Your cart</h1>
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor=" let cart of cartItem">
                <span matListItemTitle>{{cart.name}}</span>
                <span matListItemLine>{{cart.price | currency:'USD'}}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="price" matListItemTitle>Total Price</span>
                <span  matListItemLine>{{totalPrice | currency:'USD'}}</span>
            </mat-list-item>
        </mat-list>
        <mat-list class="text-right">
            <button mat-flat-button color="danger" (click)="clearCart()">Clear</button>
        </mat-list>
        <mat-list class="text-right">
            <button mat-raised-button color="accent" (click)="checkoutCart()">Chekout</button>
        </mat-list>
    </mat-card>
</div>